<%= form_tag coupon_path do %>
  <label>Coupon Store:</label><br>
  <%= text_field_tag :coupon_code %><br>

  <label></label><br>
  <%= text_field_tag :store %><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>